<%= link_to "All Students", "/students"  %>
<a href="/schools">All Schools</a>
<p>Name: <%= @student.name %></p>
<p>Currently Attending: <%= @student.currently_attending %> </p>
<p>Age: <%= @student.age %></p>
<p>Created at: <%= @student.created_at %></p>
<p>Updated at: <%= @student.updated_at %></p>