<a href="/schools">Schools Index</a>
<h3><%= @school.name %></h3>
<p>Open Classes: <%= @school.open_classes %></p>
<p>Accepting New Students: <%= @school.accepting_new_students %></p>
<p>Created at: <%= @school.created_at %></p>
<p>Updated at: <%= @school.updated_at %></p>